ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: inline;
  }
  
  li a {
    display: inline;
    padding: 8px;
    background-color: #14b8a6; //14b8a6 //1976d2
    color: white;
  }

  li a:hover {
    display: inline;
    padding: 8px;
    background-color: #197600;
    color: white;
  }